<a href="https://colab.research.google.com/github/LikaAlfi/week10/blob/main/week10.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
def my_function():
  print("Hello from a function")
my_function()

Hello from a function

In [ ]:
def my_function(fname):
  print(fname + " Sitohang")

my_function("Toha")
my_function("Tohir")
my_function("Tobi")

Toha Sitohang
Tohir Sitohang
Tobi Sitohang

In [ ]:
#This function expects 2 arguments, and gets 2 arguments:
def my_function(fname, lname):
  print(fname + " " + lname)

my_function("Toha", "Sitohang")

Toha Sitohang

In [ ]:
#This function expects 2 arguments, but gets only 1:
def my_function(fname, lname):
  print(fname + " " + lname)

my_function("Surip")

TypeError: my_function() missing 1 required positional argument: 'lname'

In [ ]:
#If the number of arguments is unknown, add a * before the parameter name:

def my_function(*kids):
  print("The youngest child is " + kids[2])

my_function("Lekyung", "Jimin", "Tukimin")

The youngest child is Tukimin

In [ ]:
def my_function(child3, child2, child1):
  print("The youngest child is " + child3)

my_function(child1 = "Lekyung", child2 = "Tukimin", child3 = "Jimin")

The youngest child is Jimin

In [ ]:
#If the number of keyword arguments is unknown, add a double ** before the parameter name:
def my_function(**kid):
  print("His last name is " + kid["lname"])

my_function(fname = "Thanos", lname = "ireng Man")

His last name is ireng Man

In [ ]:
def my_function(country = "Indonesia"):
  print("I am from " + country)

my_function("UEA")
my_function("Arab Saudi")
my_function()
my_function("Malaysia")

I am from UEA
I am from Arab Saudi
I am from Indonesia
I am from Malaysia

In [ ]:
def my_function(food):
  for x in food:
    print(x)

fruits = ["apple", "banana", "cherry"]

my_function(fruits)

apple
banana
cherry

In [ ]:
def my_function(x):
  return 5 * x

print(my_function(3))
print(my_function(5))
print(my_function(9))

15
25
45

In [ ]:
def myfunction():
  pass

In [ ]:
#Recursion Example
def tri_recursion(k):
  if(k > 0):
    result = k + tri_recursion(k - 1)
    print(result)
  else:
    result = 0
  return result

print("\n\nRecursion Example Results")
tri_recursion(6)

Recursion Example Results
1
3
6
10
15
21

21

In [1]:
# wekkly exercise 1
# kode program untuk menghitung nilai faktorial

def faktorial(n):
  if n == 1:
    return 1
  else:
    return n * faktorial(n-1)

faktorial(6)

720

In [ ]:
# weekly exercise 2
# membuat kalulator untuk menghitung luas lingkaran, persegi, dan segitiga

import math

def luas_lingkaran(jari_jari):
  return math.pi * jari_jari ** 2

def luas_persegi(sisi):
  return sisi * sisi

def luas_segitiga(alas, tinggi):
  return 0.5 * alas * tinggi

def hitung():
  while True:
    print("\npilih perhitungan luas bangun datar :")
    print("1. luas lingkaran")
    print("2. luas persegi")
    print("3. luas segitiga")
    print("4. keluar")

    pilihan = input("masukkan pilihan (1/2/3/4):")

    if pilihan == '1':
      jari_jari = float(input("masukkan jari-jari lingkaran :"))
      print(f"luas lingkaran  : {luas_lingkaran(jari_jari)}")
    elif pilihan == '2':
      sisi = float(input("masukkan sisi persegi : "))
      print(f"luas persegi    : {luas_persegi(sisi)}")
    elif pilihan == '3':
      alas = float(input("masukkan alas segitiga : "))
      tinggi = float(input("masukkan tinggi segitiga : "))
      print(f"luas segitiga   : {luas_segitiga(alas, tinggi)}")
    elif pilihan == '4':
      print("program selesai")
      break
    else:
      print("pilihan tidak valid")

# Memulai program
hitung()

pilih perhitungan luas bangun datar :
1. luas lingkaran
2. luas persegi
3. luas segitiga
4. keluar
masukkan pilihan (1/2/3/4):1
masukkan jari-jari lingkaran :14
luas lingkaran  : 615.7521601035994

pilih perhitungan luas bangun datar :
1. luas lingkaran
2. luas persegi
3. luas segitiga
4. keluar
masukkan pilihan (1/2/3/4):2
masukkan sisi persegi : 22
luas persegi    : 484.0

pilih perhitungan luas bangun datar :
1. luas lingkaran
2. luas persegi
3. luas segitiga
4. keluar
masukkan pilihan (1/2/3/4):3
masukkan alas segitiga : 12
masukkan tinggi segitiga : 14
luas segitiga   : 84.0

pilih perhitungan luas bangun datar :
1. luas lingkaran
2. luas persegi
3. luas segitiga
4. keluar
masukkan pilihan (1/2/3/4):4
program selesai